@import "./defaults/index";

@import "../src/components/common/inputs/inputs";
@import "../src/components/common/nav/nav";

@import "../src/pages/login/login-page";
@import "../src/pages/signup/signup.scss";
@import "../src/pages/home/home";
@import "../src/pages/doctors/doctors";

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
	margin: 0;
}

.page-wrapper {
	max-width: 100%;
	margin: 0 auto;
	// font-family: "Quicksand", sans-serif;
}
